<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="../../../js/jquery-ui/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery-ui/js/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery-ui/development-bundle/ui/jquery.effects.core.js"></script>
		<script type="text/javascript" src="../../../js/jquery-ui/development-bundle/ui/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="../../../js/jquery-ui/development-bundle/ui/jquery.ui.core.js"></script>
		<script type="text/javascript" src="../../../js/highCharts/js/highcharts.js"></script>
		<script type="text/javascript" src="../../../js/dashboard/graficaBase.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/dashboard.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/jquery-ui/css/custom-theme/jquery-ui-1.8.22.custom.css" charset="utf-8"/>
		<!-- link rel="stylesheet" type="text/css" href="../imgs/style.css" / -->
		<script type="text/javascript">
            $(document).ready(function() {
                initEvents();
            });
		</script>
		<title>Dashboard</title>
	</head>
	<body>
		<div id="header" align="center">
			<div class="titletext" id="logo">
				<div class="logotext">
					<p>
						Atlas
						<br />
						<span class="colorlogotext">D</span>igital
					</p>
				</div>
			</div>
			<div id="pagetitle">
				<div id="title" class="titletext" align="right">
					Voto de los Mexicanos en el Extranjero
				</div>
			</div>
		</div>
		<div id="menu" class="menu">
			<div id="tabs">
				<ul>
					<li>
						<a href="#tabs-1">Menu</a>
					</li>
					<li>
						<a href="#tabs-2">Mapa</a>
					</li>
					<li>
						<a href="#tabs-3">Gráfica</a>
					</li>
				</ul>
				<div id="tabs-1">

					<div id="accordion">
						<h3><a href="#">Distribución de los* Mexicanos y Electores en el mundo</a></h3>
						<div>
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
						</div>
						<h3><a href="#">Distribución de los electores en Estados Unidos de América por estado origen mexicano</a></h3>
						<div>
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
						</div>
						<h3><a href="#">Distribución de los electores en Estados Unidos de América por condado y secciones censales</a></h3>
						<div>
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
						</div>
						<h3><a href="#">Distribución de la población, electores y agrupaciones mexicananas en el mundo.</a></h3>
						<div>
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
							<label id="devolucion" ><img src="../../../img/png/1344233000_map.png" /></label>
							<br />
						</div>
						<h3><a href="#">Distribución de la población mexicana y electores en Estados Unidos de América por Zona Metropolitana y ciudad </a></h3>
						<div>
							sdsd
						</div>
						<h3><a href="#">Distribución de la población mexicana y electores en Estados Unidos de América por Zona Metropolitana y ciudad </a></h3>
						<div>

						</div>
						<h3><a href="#">Distribución de electores residentes en Estados Unidos de América por estado de origen en México</a></h3>
						<div>

						</div>
						<h3><a href="#">Distribución de la población mexicana y electores en Estados Unidos de América por Zona Metropolitana y ciudad</a></h3>
						<div>

						</div>
						<h3><a href="#">Área de influencia de los Módulo de Antención Ciudadana Fronterizos en Estados Unidos de América</a></h3>
						<div>

						</div>
						<h3><a href="#">Distribución de electores residentes en Estados Unidos de América por estado de origen en México</a></h3>
						<div>

						</div>
						<h3><a href="#">Distribución de los electores residentes en Estados Unidos de América por tipo de Distrito, Área Metropolitana y Sección Electoral en México </a></h3>
						<div>

						</div>
						<h3><a href="#">Distribución de la Atención otorgada vía IFETEL a los electores en el extranjero</a></h3>
						<div>
							<label id="octMay" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. octubre de 2011 y mayo de 2012</label>
							<br />
							<label id="oct" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. octubre de 2011</label>
							<br />
							<label id="nov" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. noviembre de 2011</label>
							<br />
							<label id="dic" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. diciembre de 2011</label>
							<br />
							<label id="ene" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. enero del 2012</label>
							<br />
							<label id="feb" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. febrero del 2012</label>
							<br />
							<label id="mar" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. marzo del 2012</label>
							<br />
							<label id="abr" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. abril del 2012</label>
							<br />
							<label id="may" ><img src="../../../img/png/1344233000_map.png" />Atención otorgada vía IFETEL. mayo del 2012</label>
							<br />
							<label id="colado" ><img src="../../../img/png/1344233000_map.png" />Distribución de la atención otorgada vía IFETEL a los electores residentes en Estados Unidos de América entre octubre de 2011 y mayo de 2012 y ubicación de agrupaciones mexicanas</label>
							<br />
						</div>
						<h3><a href="#"></a></h3>
						<div>

						</div>
					</div>

				</div>
				<div id="tabs-2">
					<div id="map" class="map" style="border: 1px solid #e0e0e0;"></div>
				</div>
				<div id="tabs-3">
					<p>
						Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
					</p>
					<p>
						Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
					</p>
				</div>
			</div>
		</div>

		<!--div style="border: 0px;">
		<div id="menu" class="menu">
		<label id="maps" ><img src="../../../img/png/1341861463_map.png" /> Mapas </label>

		<br />
		<label id="reports" ><img src="../../../img/png/1341864425_line_chart.png"/> Reportes </label>
		<br />
		<label id="driff" ><img src="../img/extjs/details.gif" /> </label>
		<br />
		<label id="lotes" ><img src="../img/extjs/details.gif" /> </label>
		<br />
		</div>
		</div>
		<div id="contenido" class="contenido">
		<div id="titleMap">
		<center>
		<h2>Mapas y estadisticas.</h2>
		</center>
		</div>
		<div id="map" class="map" style="border: 1px solid #e0e0e0;"></div>
		<div id="grafico" class="grafico">
		<div id="contentMaps"></div>
		<div id="container" class="container" style="width: 800px; height: 400px; margin: 0 auto">
		h
		</div>
		</div>
		</div-->
	</body>
</html>

